.radio {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px 5px 5px 0px;
  .radio-container {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;

    input {
      opacity: 0;
      display: inline-block !important;
    }

    .before {
      position: absolute;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      top: 0;
      left: 0;
      background-color: #e5e5e5;
      border: 2px solid transparent;
      transition: $transition-fast;
      -webkit-transition: $transition-fast;
      -moz-transition: $transition-fast;
      -ms-transition: $transition-fast;
      -o-transition: $transition-fast;
    }

    .after {
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      width: 9px;
      height: 9px;
      transform: scaleX(2) translate(-50%, -50%);
      -webkit-transform: scaleX(2) translate(-50%, -50%);
      -moz-transform: scaleX(2) translate(-50%, -50%);
      -ms-transform: scaleX(2) translate(-50%, -50%);
      -o-transform: scaleX(2) translate(-50%, -50%);
    }
  }
  @each $name, $value in $component-colors {
    &.radio-#{$name} {
      input:checked ~ .after {
        background-color: $value;
        transform: scaleX(1) translate(-50%, -50%);
        -webkit-transform: scaleX(1) translate(-50%, -50%);
        -moz-transform: scaleX(1) translate(-50%, -50%);
        -ms-transform: scaleX(1) translate(-50%, -50%);
        -o-transform: scaleX(1) translate(-50%, -50%);
      }
      input:checked ~ .before {
        border: 2px solid $value;
        background-color: $white;
        -webkit-box-shadow: 0 0 0 1px lighten($color: $value, $amount: 30),
          0 0 2px white, 0 0 5px $value;
        box-shadow: 0 0 0 1px lighten($color: $value, $amount: 30),
          0 0 2px white, 0 0 5px $value;
      }

      &.focus {
        .before {
          border-color: rgba($color: $value, $alpha: 0.8);
        }
      }
    }
  }
}

.radio-container {
  &.isLoading {
    width: 16px;
    height: 16px;
    display: inline-block;
    pointer-events: none;
  }
}
