$transition: all 0.3s ease-in-out !default;
$transition-slow: all 0.5s ease-in-out !default;
$transition-fast: all 0.16s ease-in-out !default;

.dropdoen-function {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0 1px 6px 0 rgba(90, 106, 151, 0.28) !important;
  padding: 0.7rem;
  line-height: normal;
  font-weight: 600;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: auto;
  white-space: nowrap;
  line-height: normal;
  display: inline-flex;
  flex-direction: column;
  transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform-origin: top;
  opacity: 0;
  transition: $transition-fast;
  -webkit-transition: $transition-fast;
  -moz-transition: $transition-fast;
  -ms-transition: $transition-fast;
  -o-transition: $transition-fast;
  z-index: 100;
  & > a,
  div {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #44599c;
    transition: $transition-fast;
    -webkit-transition: $transition-fast;
    -moz-transition: $transition-fast;
    -ms-transition: $transition-fast;
    -o-transition: $transition-fast;
    opacity: 0.3;
    cursor: pointer;
    svg {
      width: 18px;
      height: 18px;
      fill: #44599c;
      margin-right: 12px;
      transition: $transition-fast;
      -webkit-transition: $transition-fast;
      -moz-transition: $transition-fast;
      -ms-transition: $transition-fast;
      -o-transition: $transition-fast;
    }
    &:hover,
    &:focus,
    &:active {
      transition: $transition;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -ms-transition: $transition;
      -o-transition: $transition;
      background-color: #44599c;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
      color: white;

      svg {
        fill: #fff;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
      }
    }
  }
}

.dropdoen-hover {
  transition-delay: opacity 0.16s;
  opacity: 1;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);

  & > a,
  div {
    opacity: 1;
  }
}

#r-navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: #fff;
  text-transform: capitalize;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1030;
  letter-spacing: 0.5px;
  & > div {
    line-height: 65px;
  }

  // nav-logo
  .nav-logo {
    display: flex;
    align-items: center;
    width: 250px;
    margin-left: 1rem;

    position: relative;
    svg {
      transform: rotate(180deg);
      fill: #44599c;
    }

    img {
      width: 70px;
      position: relative;
      top: -2px;
      margin-left: 10px;
    }
  }

  // nav-menu
  .nav-menu {
    display: inline-flex;
    align-items: center;
    height: 100%;
    font-weight: 600;

    a {
      padding: 0 1.7rem;
      margin: 0 3px;
      text-decoration: none;
      color: #44599c;
      line-height: 80px;
      letter-spacing: 0.47px;

      &:hover {
        transition: all 0.16s ease-in-out;
        background-color: lighten($color: #44599c, $amount: 50);
      }

      &.r-nav-active {
        transition: all 0.16s ease-in-out;
        background-color: #44599c;
        color: white;
        -webkit-transition: all 0.16s ease-in-out;
        -moz-transition: all 0.16s ease-in-out;
        -ms-transition: all 0.16s ease-in-out;
        -o-transition: all 0.16s ease-in-out;
        border-radius: 0 0 15px 15px;
        -webkit-border-radius: 0 0 15px 15px;
        -moz-border-radius: 0 0 15px 15px;
        -ms-border-radius: 0 0 15px 15px;
        -o-border-radius: 0 0 15px 15px;
      }
    }
  }

  // nav-user-log

  .nav-user-log {
    font-weight: 600;
    position: relative;
    margin-left: auto;
    margin-right: 1.5rem;
    display: inline-flex;
    align-items: center;
    height: 100%;
    z-index: 1030;
    color: #44599c;

    & > div {
      position: relative;
    }

    .nav-icon {
      margin-right: 0.4rem;
      display: inline-flex;
      align-items: center;
      height: 100%;
      cursor: pointer;

      a {
        display: inline-flex;
        align-items: center;
      }
      svg {
        width: 18px;
        height: 18px;
        fill: #44599c;
        cursor: pointer;
        transition: $transition-fast;
        -webkit-transition: $transition-fast;
        -moz-transition: $transition-fast;
        -ms-transition: $transition-fast;
        -o-transition: $transition-fast;
      }
      .handle-dropdown {
        @extend .dropdoen-function;
      }

      &:hover {
        .handle-dropdown {
          @extend .dropdoen-hover;
        }

        svg {
          transition: $transition;
          -webkit-transition: $transition;
          -moz-transition: $transition;
          -ms-transition: $transition;
          -o-transition: $transition;
          transform: scale(1.15);
          -webkit-transform: scale(1.15);
          -moz-transform: scale(1.15);
          -ms-transform: scale(1.15);
          -o-transform: scale(1.15);
        }
      }
    }

    .nav-profile {
      display: inline-flex;
      align-items: center;
      height: 100%;
      position: relative;
      padding: 0 10px;
      transform: $transition-fast;
      -webkit-transform: $transition-fast;
      -moz-transform: $transition-fast;
      -ms-transform: $transition-fast;
      -o-transform: $transition-fast;
      .divider-log {
        width: 3px;
        height: 40px;
        border-radius: 5px;
        background-color: #edf1fa;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }

      .user-icon {
        width: 40px;
        height: 40px;
        color: #fff;
        background-color: #44599c;
        line-height: 40px;
        text-align: center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        margin: 0 0.7rem;
      }

      .user-handle-dropdown {
        @extend .dropdoen-function;
      }

      &:hover {
        background-color: lighten($color: #44599c, $amount: 30);
        .divider-log {
          opacity: 0.5;
        }

        .user-handle-dropdown {
          @extend .dropdoen-hover;
        }
      }
    }
  }
}
