.row-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.component-discription {
  display: inline-block;
  position: relative;
  margin: 0.2rem;
}
.component-discription .discription {
  position: absolute;
  background-color: lightblue;
  width: auto;
  padding: 0.3rem 1rem;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: -1;
  opacity: 0;
  font-size: 0.85rem;
  font-weight: 600;
  color: #44599c;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.component-discription:nth-child(1) .discription,
.component-discription:nth-child(2) .discription {
  left: 0%;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
.component-discription:nth-last-child(1) .discription,
.component-discription:nth-last-child(2) .discription {
  left: auto;
  right: 0;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

.component-discription:hover .discription {
  transition: all 0.16s ease-in-out;
  -webkit-transition: all 0.16s ease-in-out;
  -moz-transition: all 0.16s ease-in-out;
  -ms-transition: all 0.16s ease-in-out;
  -o-transition: all 0.16s ease-in-out;
  z-index: 1000;
  bottom: 98%;
  opacity: 1;
  transition-delay: 0.3s;
}

.react-reveal {
  width: 100%;
}
